# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@localhost:5432/daicol"
JWT_KEY="your-secret-jwt-key"
VOLCENGINE_API_KEY=""
DEEPSEEK_API_KEY=""
PUBLIC_HOST="https://localhost:5173/"
PUBLIC_API_HOST="https://localhost:5173/"
PUBLIC_BEIAN_NUMBER="苏BEIAN_NUMBER"

MINIO_ENDPOINT="minio"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minio_user"
MINIO_SECRET_KEY="minio_password"

PUBLIC_STATIC_SERVER_HOST="localhost:9000/"