@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes:
		corporate --default,
		sunset;
}

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

@layer utilities {
	body {
		background-image:
			radial-gradient(
				at 0% 25%,
				color-mix(in oklab, var(--color-primary) 10%, transparent) 0px,
				transparent 30%
			),
			radial-gradient(
				at 15% 6%,
				color-mix(in oklab, var(--color-success) 5%, transparent) 0px,
				transparent 30%
			),
			radial-gradient(
				at 90% 85%,
				color-mix(in oklab, var(--color-secondary) 10%, transparent) 0px,
				transparent 30%
			),
			radial-gradient(
				at 80% 65%,
				color-mix(in oklab, var(--color-accent) 5%, transparent) 0px,
				transparent 30%
			);
	}

	.text-primary-to-accent {
		@apply inline-block bg-gradient-to-br from-primary to-accent bg-clip-text text-transparent;
	}
}
